.hidden {
    display: none;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #fff;
}

button {
    cursor: pointer;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    max-width: 320px;
    margin: 0 auto;
    padding: 0 16px;
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}

@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding: 0 15px;
    }
}
/*----------------------- header----------------------- */
.page-header {
    box-shadow:
        0 1px 6px 0 rgba(46, 47, 66, 0.08),
        0 1px 1px 0 rgba(46, 47, 66, 0.16),
        0 2px 1px 0 rgba(46, 47, 66, 0.08);
    border-bottom: 1px solid #e7e9fc;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navigation {
    display: none;
}

.address-list {
    display: none;
}

.logo-top {
    text-decoration: none;
    padding: 16px 0;
    display: block;
}

.web-top {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #4d5ae5;
    letter-spacing: 0.03em;
    line-height: 1.17;
}

.studio-top {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #2e2f42;
    letter-spacing: 0.03em;
    line-height: 1.17;
}

.burger-btn {
    padding: 0;
    border: none;
    background-color: transparent;
}

.burger-icon {
    display: block;
    fill: #2f2f37;
}

@media screen and (min-width: 768px) {
    .burger-btn {
        display: none;
    }

    .navigation {
        display: flex;
        align-items: center;
        gap: 40px;

        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .address-list {
        font-style: normal;
        display: block;
    }

    .nav-list {
        display: flex;
        align-items: center;
    }

    .logo-top {
        margin-right: 120px;
        padding: 24px 0;
    }

    .studio {
        display: block;
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        color: #2e2f42;
        text-decoration: none;
        line-height: 1.5;
        letter-spacing: 0.02em;
        padding: 24px 0;

        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .studio.current {
        position: relative;
    }

    .studio.current::after {
        content: '';

        position: absolute;
        left: 0;
        bottom: -1px;

        background-color: #404bbf;
        border-radius: 2px;

        width: 100%;
        height: 4px;
    }

    .portfolio {
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        color: #2e2f42;
        text-decoration: none;
        line-height: 1.5;
        letter-spacing: 0.02em;
        display: block;
        padding: 24px 0;

        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .contacts {
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        color: #2e2f42;
        text-decoration: none;
        line-height: 1.5;
        letter-spacing: 0.02em;
        display: block;
        padding: 24px 0;

        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .contacts-list {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    .mail {
        display: block;

        font-weight: 400;
        font-size: 12px;
        font-style: normal;
        color: #434455;
        line-height: 1.17;
        letter-spacing: 0.04em;

        text-decoration: none;

        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .phone-number {
        display: block;

        font-weight: 400;
        font-size: 12px;
        font-style: normal;
        color: #434455;
        line-height: 1.17;
        letter-spacing: 0.04em;

        text-decoration: none;

        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .address-list {
        font-style: normal;
        margin-left: auto;
    }

    .studio:hover,
    .studio:focus,
    .portfolio:hover,
    .portfolio:focus,
    .contacts:hover,
    .contacts:focus,
    .studio.current {
        color: #404bbf;
    }

    .mail:hover,
    .mail:focus,
    .phone-number:hover,
    .phone-number:focus {
        color: #404bbf;
    }

    .studio:active,
    .portfolio:active,
    .contacts:active {
    }
}

@media screen and (min-width: 1158px) {
    .logo-top {
        margin-right: 76px;
    }

    .contacts-list {
        flex-direction: row;
        align-items: center;
        gap: 40px;
    }

    .mail {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        padding: 24px 0;
    }

    .phone-number {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        padding: 24px 0;
    }
}

/* -----------------------mobile menu----------------------- */
.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    transition:
        opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-container {
    position: relative;
    padding-top: 72px;
    padding-bottom: 40px;

    display: flex;
    flex-direction: column;
    height: 100%;
}

.mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.mobile-close {
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    top: 24px;
    right: 24px;

    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 100%;
    width: 24px;
    height: 24px;

    background-color: #e7e9fc;

    transition:
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-close-icon {
    fill: #2e2f42;
}

.mobile-close:hover,
.mobile-close:focus {
    border: none;
    background-color: #404bbf;
}

.mobile-close:hover .mobile-close-icon,
.mobile-close:focus .mobile-close-icon {
    fill: #fff;
    transition:
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-nav {
    margin-bottom: auto;
}

.mobile-nav-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.mobile-list {
}

.nav-list-link {
    text-decoration: none;

    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.nav-list-link:hover,
.nav-list-link:focus {
    color: #404bbf;
}

.mobile-contacts-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.mobile-contacts-link.mobile-tel {
    color: #4d5ae5;
}

.mobile-contacts-link {
    text-decoration: none;
    font-style: normal;

    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #434455;
}

.mobile-contacts-link:hover,
.mobile-contacts-link:focus {
    color: #4d5ae5;
}

.mobile-socials {
    display: flex;
    flex-direction: row;
    gap: 40px;

    margin-top: 48px;
}

.mobile-socials-link {
    background: #4d5ae5;
    border-radius: 100%;

    fill: #f4f4fd;

    width: 40px;
    height: 40px;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
    .mobile-menu {
        display: none;
    }
}

/* -----------------------hero image----------------------- */
.hero-image {
    background-color: #2e2f42;
    background-image:
        linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    object-fit: cover;

    text-align: center;

    padding: 72px 0;
}

@media (min-resolution: 2dppx) {
    .hero-image {
        background-image:
            linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office2x.jpg);
    }
}

.container-logo {
    display: flex;
    flex-direction: column;
    gap: 72px;
    align-items: center;
}

.logo {
    max-width: 216px;
    margin: 0 auto;

    text-align: center;
    font-weight: 700;
    font-size: 36px;
    color: #ffffff;
    line-height: 1.11;
    letter-spacing: 0.02em;
}

.button-logo {
    display: block;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);

    background-color: #4d5ae5;
    color: #ffffff;

    cursor: pointer;
    line-height: 1.5;
    font-size: 16px;
    letter-spacing: 0.04em;

    border-radius: 4px;
    border: none;
    padding: 16px 32px;
}

.text-button {
    color: #ffffff;
    font-weight: 500;
    letter-spacing: 0.04em;
    line-height: 1.5;
    font-size: 16px;
}

@media screen and (min-width: 768px) {
    .hero-image {
        padding: 112px 0;

        object-fit: cover;
        object-position: center;
    }

    .container-logo {
        gap: 36px;
    }

    .logo {
        max-width: 496px;
        font-size: 56px;
        line-height: 1.07;
    }
}

@media screen and (min-width: 1158px) {
    .hero-image {
        margin: 0 auto;
        max-width: 1440px;
        padding: 188px 0 188px;
    }

    .container-logo {
        gap: 48px;
    }

    .button-logo:hover,
    .button-logo:focus {
        background-color: #404bbf;
        cursor: pointer;
    }
}

/*----------------------- our-features----------------------- */
.icon {
    display: none;
}

.our-features {
    padding: 96px 0;
}

.motivation-sheet {
    display: flex;
    flex-direction: column;
    gap: 72px;
}

.list {
    width: 100%;
}

.heading {
    font-family: 'Roboto', sans-serif;
    color: #2e2f42;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;

    margin-bottom: 8px;
}

.paragraph {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

@media screen and (min-width: 768px) {
    .motivation-sheet {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 72px 24px;
    }

    .heading {
        text-align: left;
    }

    .paragraph {
        margin-bottom: 0;
    }
}

@media screen and (min-width: 1158px) {
    .our-features {
        padding: 120px 0;
    }
    .motivation-sheet {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 24px;
    }

    .list {
        width: calc((100% - 72px) / 4);
    }

    .list-icon {
        border: 1px solid #8e8f99;
        border-radius: 4px;

        height: 112px;
        background: #f4f4fd;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .icon {
        display: block;
    }

    .heading {
        font-family: 'Roboto', sans-serif;
        color: #2e2f42;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
        margin: 8px 0;
    }

    .paragraph {
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        color: #434455;
        line-height: 1.5;
        letter-spacing: 0.02em;
    }
}
/* -----------------------our team----------------------- */
.our-team {
    padding: 96px 0;
    background-color: #f4f4fd;
}
.heading-our-team {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;

    text-align: center;

    margin-bottom: 72px;
}

.card-list {
    display: grid;
    gap: 72px;
    grid-template-columns: 1fr;
}

.card-one,
.card-two,
.card-three,
.card-four {
    max-width: 264px;
    width: 100%;
    margin: 0 auto;
    background-color: #ffffff;
    border-radius: 0 0 4px 4px;
    box-shadow:
        0 2px 1px 0 rgba(46, 47, 66, 0.08),
        0 1px 1px 0 rgba(46, 47, 66, 0.16),
        0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.teams {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;

    padding: 0;
    margin: 32px 16px;
}

.heading-card {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}

.icon-team {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 24px;
}

.icon-link {
    background: #4d5ae5;
    border-radius: 100%;
    fill: #fff;

    width: 40px;
    height: 40px;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
    .container-team {
        padding: 0 92px;
    }
    .card-list {
        grid-template-columns: repeat(2, 1fr);
        gap: 64px 24px;
    }

    .our-team-img {
        width: 100%;
    }
}

@media screen and (min-width: 1158px) {
    .our-team {
        padding: 120px 0;
    }

    .container-team {
        padding: 0;
    }

    .card-list {
        grid-template-columns: repeat(4, 1fr);
        gap: 24px;
    }

    .icon-link:hover,
    .icon-link:focus {
        background: #404bbf;
    }
}

/* -----------------------our portfolio ----------------------- */
.content-text {
    display: none;
}
.section-portfolio {
    padding: 96px 0;
}

.our-portfolio {
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    color: #2e2f42;
    letter-spacing: 0.02em;
    line-height: 1.11;
    margin-bottom: 72px;
}

.portfolio-card {
    display: flex;
    flex-direction: column;

    gap: 48px;
}

.list-portfolio {
    max-width: 100%;
    box-shadow:
        0 2px 1px 0 rgba(46, 47, 66, 0.08),
        0 1px 1px 0 rgba(46, 47, 66, 0.16),
        0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.portfolio-link {
    display: block;
    text-decoration: none;
}

.portfolio-text {
    padding: 32px 16px;
    border-bottom: 1px solid #e7e9fc;
    border-left: 1px solid #e7e9fc;
    border-right: 1px solid #e7e9fc;
}

.heading-info {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: left;
}

@media screen and (min-width: 768px) {
    .section-portfolio {
        max-width: 768px;
        margin: 0 auto;
    }

    .container {
        max-width: 768px;
    }

    .portfolio-card {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 72px 24px;
    }
}

@media screen and (min-width: 1158px) {
    .content-text {
        display: flex;
    }

    .container {
        max-width: 1158px;
    }

    .section-portfolio {
        padding: 120px 0;
        max-width: 100%;
    }

    .portfolio-card {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 48px 24px;
    }

    .list-portfolio {
        box-shadow: none;
        transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .list-portfolio:hover {
        box-shadow:
            0 2px 1px 0 rgba(46, 47, 66, 0.08),
            0 1px 1px 0 rgba(46, 47, 66, 0.16),
            0 1px 6px 0 rgba(46, 47, 66, 0.08);
    }

    .portfolio-link {
        display: block;
        text-decoration: none;

        position: relative;
        width: 100%;
        overflow: hidden;
    }

    .portfolio-link:hover .content-text {
        transform: translateY(0);
    }

    .thumb {
        position: relative;
        overflow: hidden;
    }

    .thumb .img-portfolio {
        width: 100%;
        display: block;
    }

    .content-text {
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #f4f4fd;

        position: absolute;
        overflow: hidden;
        top: 0;
        left: 0;

        width: 100%;
        height: 100%;
        padding: 40px 32px;

        background: #4d5ae5;

        transform: translateY(100%);
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .portfolio-text {
        padding: 32px 16px;
        border-bottom: 1px solid #e7e9fc;
        border-left: 1px solid #e7e9fc;
        border-right: 1px solid #e7e9fc;
    }
}

/* -----------------------footer ----------------------- */
.footer {
    background-color: #2e2f42;
    padding: 96px 0;
}

.footer-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 72px;
}

.container-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 0;

    gap: 16px;
}

.logo-bottom {
    text-decoration: none;
}

.web-bottom {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.03em;
    line-height: 1.17;
    color: #4d5ae5;
}

.studio-bottom {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.03em;
    line-height: 1.17;
    color: #f4f4fd;
}

.text {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    width: 100%;
}

.footer-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;

    padding: 0;
}

.footer-text {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
}

.icon-team.icon-footer {
    gap: 16px;
}

.subscribe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;

    padding: 0;
}

.subscribe-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;

    margin-left: 0;
}

.subscribe-email {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #fff;

    background-color: transparent;

    border: 1px solid #fff;
    border-radius: 4px;
    padding-left: 16px;
    width: 288px;
    height: 40px;
}

.button-footer {
    background: #4d5ae5;

    border-radius: 4px;
    border: none;
    min-width: 165px;
    height: 40px;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;

    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
}

.button-icon {
    fill: #fff;
}

@media screen and (min-width: 768px) {
    .footer-block {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        gap: 72px 24px;
        padding: 0 92px;
    }

    .container-footer {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0;

        width: 264px;
    }

    .footer-link {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0;
    }

    .subscribe {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .subscribe:nth-child(3) {
        grid-column: 1 / -1;
    }

    .subscribe-form {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 24px;
    }

    .subscribe-email {
        width: 264px;
    }
}

@media screen and (min-width: 1158px) {
    .footer {
        padding: 100px 0;
    }

    .footer-block {
        display: flex;
        flex-direction: row;
        align-items: baseline;

        padding: 0;
    }
    .container-footer {
        display: flex;
        flex-direction: column;
        padding: 0;

        margin-right: 120px;
    }

    .footer-link {
        padding: 0;
    }

    .icon-link .footer-svg {
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .icon-link.footer-svg:hover,
    .icon-link.footer-svg:focus {
        background-color: #31d0aa;
    }

    .subscribe {
        display: flex;
        flex-direction: column;

        margin-left: auto;
        padding: 0;
    }
    .subscribe-email {
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    }

    .subscribe-email::placeholder {
        color: #ffffff;
    }

    .subscribe-email:focus {
        outline: none;
        border: 1px solid #31d0aa;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    }

    .button-footer {
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .button-footer:hover,
    .button-footer:focus {
        background: #31d0aa;
    }
}

/*----------------------- modal----------------------- */
.backdrop {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: rgba(46, 47, 66, 0.4);

    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.backdrop:not(.is-open) .modal {
    transform: translate(-50%, -50%) scale(1.5);
}

.backdrop.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    width: 288px;
    min-height: 584px;
    padding: 72px 16px 24px;

    border-radius: 4px;
    box-shadow:
        0 1px 1px 0 rgba(0, 0, 0, 0.14),
        0 1px 3px 0 rgba(0, 0, 0, 0.12),
        0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background: #fcfcfc;
}

.close {
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    top: 24px;
    right: 24px;

    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 100%;
    width: 24px;
    height: 24px;

    background-color: #e7e9fc;
}

.close-icon {
    fill: #2e2f42;
}

.text-modal {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;

    margin-bottom: 16px;
}

.modal-user {
    margin-top: 0;
}

.content-modal {
    display: flex;
    flex-direction: column;

    position: relative;

    margin-top: 8px;
}

.label {
    margin-bottom: 4px;
    display: block;
}

.content-input {
    position: relative;
    top: 0;
    left: 0;
}

.input-modal {
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;

    width: 100%;
    height: 40px;

    padding: 11px 38px;
}

.icon-modal {
    position: absolute;
    top: 8px;
    left: 16px;

    fill: #2e2f42;
}

.label {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16667;
    letter-spacing: 0.04em;
    color: #8e8f99;
}

.texteria {
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    padding: 8px 16px;

    width: 100%;
    height: 120px;
    outline: none;
    resize: none;
}

.texteria::placeholder {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16667;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
}

.content-checkbox {
    margin: 16px 0 24px;
}

.input-checkbox:checked + .label > .checkbox {
    border-radius: 2px;
    fill: #f4f4fd;
    border: 1px solid #404bbf;
    background-color: #404bbf;
}

.input-checkbox:checked + .label .checkbox-icon {
    fill: #f4f4fd;
}

.label-checkbox {
    display: flex;
}

.checkbox {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);

    background-color: transparent;
    padding: 4px 3px;
    margin-right: 8px;

    width: 16px;
    height: 16px;
}

.checkbox-icon {
    fill: transparent;
}

.privacy {
    line-height: 1.33333;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #4d5ae5;
}

.button-modal {
    display: block;
    border-radius: 4px;
    border: none;
    padding: 16px 32px;
    width: 169px;
    height: 56px;

    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #4d5ae5;

    cursor: pointer;

    margin: 0 auto;

    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
}

@media screen and (min-width: 768px) {
    .modal {
        width: 408px;
        padding: 72px 24px 24px;
    }
}

@media screen and (min-width: 1158px) {
    .close {
        transition:
            background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
            fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .close:hover,
    .close:focus {
        border: none;
        background-color: #404bbf;
    }

    .close:hover .close-icon,
    .close:focus .close-icon {
        fill: #fff;
        transition:
            background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
            fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .input-modal {
        transition:
            border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
            fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .input-modal:hover,
    .input-modal:focus {
        padding: 11px 38px;

        outline: none;
        border: 1px solid #4d5ae5;
        border-radius: 4px;
    }

    .input-modal:hover + .icon-modal,
    .input-modal:focus + .icon-modal {
        fill: #4d5ae5;
    }

    .icon-modal {
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .texteria {
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .texteria:hover,
    .texteria:focus {
        outline: none;
        border: 1px solid #4d5ae5;
        border-radius: 4px;
    }

    .checkbox {
        transition:
            background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
            border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .button-modal {
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .button-modal:hover,
    .button-modal:focus {
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
        background-color: #404bbf;
    }
}
